body{
font-family: Arial;
margin:0;
background:#e7e4e4;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
color: #ffffff;
background:#3308a9;
}

nav a{
margin:10px;
text-decoration:none;
color:rgb(255, 255, 255);
font-weight:bold;
}

.hero{
text-align:center;
padding:80px;
background:#bfa8ff;
}

.hero button{
padding:12px 25px;
background:rgb(61, 43, 199);
color:rgb(255, 255, 255);
border:none;
cursor:pointer;
}

.menu{
display:flex;
justify-content:center;
gap:30px;
padding:40px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card img{
width:200px;
}

.card button{
background:rgb(243, 251, 243);
color:white;
border:none;
padding:10px;
cursor:pointer;
}

footer{
text-align:center;
padding:20px;
background:#2b2bf3;
color:white;
}